@font-face {
  font-family: "SourceCodePro";
  src: local('SourceCodePro'), url(./SourceCodePro.ttf) format('truetype');
}

.page {
  background-color: rgb(94, 127, 127);
  min-height: 380vh;
}

.header {
  background-image: linear-gradient(rgb(0, 88, 155), rgb(94, 127, 127));
  min-height: 90vh;
}

.left {
  background-color: rgba(0,0,0,.3);
  margin-top: 5vh;
  min-height: 72vh;
  min-width: 40vw;
  justify-content: center; 
}

.right {
  background-color: rgba(0,0,0,.3);
  margin-top: 5vh;
  min-height: 35vh;
  max-width: 75%;
  justify-content: center; 
}

.imgSizes {
  width: 10vw;
  height: 5vh;
}

.intro {
  max-width: 38vw;
  
  max-height:70vh;
  background: rgba(0,0,0,.4);
  margin-left: 1vw;
  margin-top: 6vh;
}

.text {
  padding-top: 3vh;
  color: white;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  font-family: 'SourceCodePro';
}

.projectTitle {
  padding-top: 5vh;
  color: white;
  font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight:'bold';
  text-align: center;
  font-family: 'SourceCodePro';
}

.img {
  box-shadow:'5px 5px 40px';
  min-width: 75%;
}

@media (max-width: 1175px)
{
  .left{
    min-width: 80vw;
  }

  .intro {
    min-width: 78vw;
    max-height: 54vh;
  }

}